In [5]:
# 1.4
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy

In [4]:
"""
Task 2:
Numerical continous: Enhver verdi. Her snakker vi ofte om målinger. For eksempel høyde
Numerical discrete: Hele verdier. For eksempel antall barn.
Categorical nominal: Forskjellige kategorier uten en rekkefølge. For eksempel postkoder.
Categorical ordinal: Forskjellige kategorier med en rekkefølge. For eksempel plassering i en konkurranse. 
"""

'\nTask 2:\nNumerical continous: Enhver verdi. Her snakker vi ofte om målinger. For eksempel høyde\nNumerical discrete: Hele verdier. For eksempel antall barn.\nCategorical nominal: Forskjellige kategorier uten en rekkefølge. For eksempel postkoder.\nCategorical ordinal: Forskjellige kategorier med en rekkefølge. For eksempel plassering i en konkurranse. \n'

In [10]:
# Task 3
df = pd.read_csv("data/SN_list-1.csv")
df.head()

,SN,Host Galaxy,Date,R.A.,Decl.,Offset,Mag.,Disc. Ref.,SN Position,Posn. Ref.,Type,SN.1,Discoverer(s)
0,2015bh,NGC 2770,2015 02 07,09 09.6,+33 07,16E 4S,19.1,CBET 4229,09 09 35.06 +33 07 22.1,CBET 4229,IIn,2015bh,"Howerton, Drake et al. (Catalina Real-time Tra..."
1,2015bg,Anon.,2015 12 16,02 47.6,+34 55,13E 4N,17.8,CBET 4226,02 47 34.51 +34 54 33.6,CBET 4226,Ia,2015bg,Maticic (PIKA)
2,2015bf,NGC 7653,2015 12 12,23 24.8,+15 17,4W 20N,17.3,CBET 4219,23 24 49.03 +15 16 52.0,CBET 4219,IIn,2015bf,Itagaki
3,2015be,NGC 1843,2015 12 06,05 14.1,-10 38,1E 6N,18.0,CBET 4218,05 14 06.24 -10 37 30.0,CBET 4218,IIP,2015be,"Stegman, Zheng, Filippenko (LOSS)"
4,2015bd,NGC 3662,2015 12 07,11 23.8,-01 06,8W 3S,15.9,CBET 4217,11 23 45.88 -01 06 21.2,CBET 4217,Ia,2015bd,Itagaki

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SN             60 non-null     object
 1   Host Galaxy    60 non-null     object
 2   Date           60 non-null     object
 3   R.A.           60 non-null     object
 4   Decl.          60 non-null     object
 5   Offset         57 non-null     object
 6   Mag.           60 non-null     float64
 7   Disc. Ref.     60 non-null     object
 8   SN Position    60 non-null     object
 9   Posn. Ref.     60 non-null     object
 10  Type           60 non-null     object
 11  SN.1           60 non-null     object
 12  Discoverer(s)  60 non-null     object
dtypes: float64(1), object(12)
memory usage: 6.2+ KB

In [12]:
len(df)

60